@{
    ViewBag.Title = "Compra Fallida";
}

<h2>Compra fallida</h2>

<p>No se puede realizar la compra/venta, porque existen rentas aceptadas que no han llegado a su fin.</p>

<input type="submit" value="Aceptar" class="btn btn-success" onclick="location.href='@Url.Action("Index", "Home")'" />


