@{
    ViewBag.Title = "Reportes";
}
<h2 id="Hide">@ViewBag.Title</h2>

<h3>@ViewBag.Message</h3>


<h4 style="text-align: center"> Número de rentas por realtors  </h4>
<canvas id="chart-viewer" class="my-form-container4"></canvas>

<h4 style="text-align: center"> Número de ventas por realtors </h4>
<canvas id="chart-viewer2" class="my-form-container4"></canvas>


<h4 style="text-align: center"> Ganancia por fecha </h4>
<canvas id="chart-viewer3" class="my-form-container4"></canvas>

<h4 style="text-align: center"> Número de rentas por casa </h4>
<canvas id="chart-viewer4" class="my-form-container4"></canvas>

