@{
    ViewBag.Title = "Home Page";
}

<label style="font-family:'Harlow Solid'; font-size:65px; color:darkorange">"You love Havana, you stay in Havana"</label>
<div style="width: 100%; height: 100%;position: absolute;" >
    <img src="@(Url.Content("~/Content/home.jpg"))" alt="test">
</div>
